



@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');


$main-background: #F5F5F5;

$sidebar-background: linear-gradient(180deg,#B2C048, #7FB450,#3BA55B);

$main-color : #3BA55B;
$second-color : #7FB450;
$third-color : #B2C048;
$page-header-color: #58595B;
$head-color: #2E706C;

$error-color: #FF0404;
$error-background: #FFF2F2;
$success-color: #01AE12;
$success-background: #DFFBE2;

$btn-color : #7FB450 ;

$main-font:'Cairo', sans-serif;

// login form 
$form-background: #FFFFFF;
$form-radius: 15px;
$input-border: 1px solid #bbb;

$edit-color: #29C558;
$block-color: #A10000